header
    a(href="/") Home &emsp;|
    a(href="/abebech") &emsp; Abebech &emsp;|
    a(href="/bogale") &emsp; Bogale &emsp;|
    a(href="/abiyot") &emsp; Abiyot &emsp;|
    a(href="/adey") &emsp; Adey &emsp;|
    a(href="/birhanu") &emsp; Birhanu &emsp;|
    a(href="/wondwosen") &emsp; Wondwosen &emsp;|
    a(href="/yeabsira") &emsp; Yeabsira
    hr
    h1= name