extends layout

block content
    include header
    p #{name} is my younger sister. She is the youngest in the family. She graduated from American University last month and lives in Silver Spring, Maryland.